{% extends 'base.html' %}

{% block content %}

<h1>Add a song to {{ playlist.name }}</h1>

<form id="add-song-playlist" method="POST">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

    {% for error in form.errors %}
    <div class="alert alert-warning">{{ field }}:
        <ul>
            {% for error in form.errors %}
            <li> {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <div class="form-group row">
        {{ field.label(class="col-sm-2 col-form-label") }}
        <div class="col-sm-10">
            {{ field(class="form-control") }}
        </div>
    </div>
    {% endfor %}

    <button class="btn btn-info">Add</button>


{% endblock %}